LANGFUSE_SECRET_KEY=xxxxxxx
LANGFUSE_PUBLIC_KEY=xxxxxx
LANGFUSE_HOST="https://us.cloud.langfuse.com"


# LOCAL
JUPYTER_HOST=0.0.0.0
JUPYTER_PASSWORD=xxxxxxxxxxxx
#https://www.alphavantage.co/support/#api-key
#Alpha Vantage Support
AV_STOCK_API_KEY=xxxxxxxxxxxx
#https://home.openweathermap.org/users/sign_up)
WEATHER_API_KEY=xxxxxxxxxxxx

# REPLICATE
REPLICATE_API_TOKEN=xxxxxxxxx
REPLICATE_MODEL=ibm-granite/granite-4.2-8b

# OLLAMA
GRANITE_MODEL=granite4.2:3b
OLLAMA_HOST"="http://127.0.0.1:11434"
